.commute-event {
  background-color: #f45;
  color: white;
  /* border-radius: 5px; */
  font-size: x-small;
  
}

.default-event {
  background-color: #3174ad;
  color: white;
  /* border-radius: 10px; */
  font-size: x-small;
}

.rbc-day-slot {
  pointer-events: none !important;
}


/* .rbc-day-slot .rbc-event {
  border-radius: 0 !important;
}

.rbc-event-content {
  border-radius: 0 !important;
} */