.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 50px auto;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 500px;
}

.form-input {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.form-button {
  width: 90%;
  padding: 10px;
  margin: 20px 0;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.form-button:hover {
  background-color: #0056b3;
}

.file-upload {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 500px
}

.form-footer {
  margin-top: 15px;
  text-align: center;
}

.form-link {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}

.form-link:hover {
  text-decoration: underline;
}

.App{
  display: flex;
  gap: 15vh;
  align-items: center;
  flex-direction: row;
}

.App img{
  margin: auto;
  border: 2vh solid white;
  border-radius: 2vh;
}

.image-carsole{
  display: flex;
  align-items: center;
  width: 130vh;
  height: 100vh;
  /* border: 1px solid red; */
  background-color: red;
  overflow: hidden;
}

.images{
    display: flex;
    animation: slide 12s infinite;
    
}

.images img{
    width: 45vw;
    height: 80vh;
    object-fit: cover;
    margin-bottom: 5vh;
    margin-right: 20px;
    border-radius: 2vh;
}