.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 5vw;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 25vw;
  height: 65vh;
  font-size: 1.5vw;
}

.form-input {
  width: 20vw;
  height: 8vh;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 2vw;
}

.form-button {
  width: 20vw;
  height: 8vh;
  padding: 10px;
  margin: 20px 0;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  font-size: 2vw;
}

.form-button:hover {
  background-color: #0056b3;
}

.file-upload {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 500px
}

.form-footer {
  margin-top: 15px;
  text-align: center;
}

.form-link {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}

.form-link:hover {
  text-decoration: underline;
}

.App{
  display: flex;
  gap: 10vh;
  align-items: center;
  flex-direction: row;
}

.App img{
  margin: auto;
  border: 2vh solid white;
  border-radius: 2vh;
}

.image-carsole{
  display: flex;
  align-items: center;
  width: 80vw;
  max-width: fit-content;
  height: 100vh;
  background-color: red;
  overflow: hidden;
}

.images{
    display: flex;
    animation: moves 12s infinite;
    
}

.images img{
    width: 45vw;
    height: 80vh;
    object-fit: cover;
    margin-bottom: 5vh;
    margin-right: 20px;
    border-radius: 2vh;
}

@keyframes moves {
    0%, 25% {transform: translateX(0);}
    33%, 58% {transform: translateX(-600px);}
    66%, 91% {transform: translateX(-1200px);}
    100% {transform: translateX(0);}
}