.page-container{
    /* border: 1px solid rgb(167, 82, 82); */
    /* background-color: rgb(243, 233, 233); */
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
    margin: auto;
    padding: 1vw 3vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400vh;
    align-items: center;
    align-self: center;
}

.upload-container{
    margin: 5vh;
}
.upload{
    /* border: 1px solid black; */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: rgb(250, 217, 217);
    border-radius: 10vh;
    width: 80vw;
    height: 70vh;
    align-self: center;
    font-family: 'Lato', sans-serif;
    font-weight: 200;
    padding: 10px;
    margin: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.upload h2{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 5vh;
    margin-top: 1vh;
    margin-bottom: 0;
}

.upload h3{
    margin-top: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 4vh;
}

.upload ul{
    list-style-type: none;
}
.upload ul li{
    display: flex;
    align-items: center;
    font-size: 3vh;
    font-weight: 400;
    width: 100vh;
    color: rgb(8, 8, 8);
    background-color: pink;
    padding: 1vh 1.5vh;
    border-radius: 1vh;
    justify-content: space-between;
}

.upload ul li button{
    font-size: 3vh;
    font-family: 'Lato', sans-serif;
    border-radius: 2vh;
    background-color: brown;
    color: white;
    width: 8vw;
    height: 5vh;
    margin-top: 1vh;
    margin-bottom: 2vh;
    margin-right: 1vh;
    cursor: pointer;
}

.upload ul li button:hover{
    color: white;
}

select {
    border: 1px solid rgb(173, 64, 13);
    border-radius: 2vh;
    font-family: 'Lato', sans-serif;
    font-size: 3vh;
    width: 25vw;
    height: 5vh;
    cursor: pointer;
    text-align: center;
}

select option{
    font-size: 3vh;
    font-family: 'Lato', sans-serif;
    /* background-color: brown; */
    
}

.upload-file{
    min-height: 15vh;
    height: auto; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: white;
    border-radius: 2vh;
    font-family: 'Lato', sans-serif;
    font-size: 12vh;
    color: navy;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1vh;
}

.upload-file input{
    padding: 1vh;
    margin: 1vw;
    font-family: 'Times New Roman', Times, serif;
    font-size: 3vh;
    border-radius: 2vh;
}
.upload-file label{
    width: 8vw;
    height: 3vh;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 1vw 2vh;
    color: rgb(250, 247, 247);
    border-radius: 2vh;
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    font-size: 3vh;
    margin: 1vh;
}

#fileSpan p{
    font-family: 'Urabanist', sans-serif;
    font-size: 2vh;
    color: black;
    background-color: pink;
    padding: 0.6vh;
    border-radius: 1vh;
}

.upload-file button{
    width: 10vw;
    height: 5vh;
    margin-top: 1vh;
    font-family: 'Times New Roman', Times, serif;
    font-size: 3vh;
    background-color: brown;
    color: white;
    border-radius: 2vh;
    cursor: pointer;
}

.home-menu{
    /* border: 1px solid green; */
    top: 0;
    /* left: 0; */
    position: fixed;
    margin: 0;
    /* margin-bottom: 20vh; */
    padding: 0;
}

.home-menu{
    min-width: fit-content;
    max-width: 40vw;
    min-height: 10vh;
    max-height: 15vh;
    
}
.home-menu ul{
   border-radius: 10px;
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
   background-color: brown;
}

.home-menu ul li{
    font-weight: 100;
    font-size: 2vw;
    font-family: 'Times New Roman', Times, serif;
    display: block;
    color: white;
    text-align: center;
    padding: 2vh 5vh;
    float: left;
}

.home-menu ul li:hover{
    background-color: rgb(182, 94, 94);
}

.transport-section{
    /* border: 1px solid black; */
    margin: auto;
    min-width: 80vw;
    max-width: calc(fit-content) + 80vw;
    min-height: 40vh;  
    max-height: fit-content;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: rgb(250, 217, 217);
    border-radius: 10vh;
}

.transport-Title p{
    font-family: 'Urbanist';
    font-weight: 500;
    margin: auto;
    /* border: 1px solid black; */
    padding: 1vh;
    font-size: 2.5vw;
}

#transport-subTitle{
    font-size: 1.6vw;
    font-weight: 300;
}
.transport-section select{
    margin: 1vh;
}

nav{
    /* border: 1px solid black; */
    padding: 1vh;
    margin: auto;
    display: flex;
    align-items: center;
}

#back{
    font-size: 3vh;
    font-family: 'Lato', sans-serif;
    border-radius: 1vh;
    background-color: brown;
    color: white;
    width: 15vw;
    height: 4vh;
    margin: 1vh;
    cursor: pointer;

}

#generateSch{
    font-size: 3vh;
    font-family: 'Lato', sans-serif;
    border-radius: 1vh;
    background-color: brown;
    color: white;
    min-width: 9.2vw;
    max-width: fit-content;
    min-height: 8vh;
    max-height: fit-content;
    margin: 1.5vh;
    cursor: pointer;
}

#generateSch:disabled{
    font-size: 3vh;
    font-family: 'Lato', sans-serif;
    border-radius: 1vh;
    background-color: rgb(177, 101, 101);
    color: rgb(163, 159, 159);
    width: 8vw;
    height: 8vh;
    margin: 1.5vh;
    cursor: pointer;
}

#schedule-title{
    font-size: 1vw;
    color: navy;
}

#upload-icon{
    display: flex;
    align-items: center;
    align-content: center;
    margin: auto;
    border: 2px dotted rgb(47, 47, 97);
}

.trainline p,
.stations p,
.arrivalTrainStation p{
    font-family: 'Lato';
    font-size: 1.6vw;
}

.transportOptions{
    /* background-color: aliceblue; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding: 5px;
    width: 100%;
    /* max-width: fit-content;
    max-height: fit-content; */
    /* border: 1px solid rgb(10, 10, 10); */
}

.trainline,
.stations,
.arrivalTrainStation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;  
    align-items: center;
    width: 60%;                  
    padding-right: 0;
}
