header{
    display: grid;
    place-items: center;
}
header p {
    margin-bottom: 1vh;
    margin-top: 2vh;
}
.transportOptions{
    width: 80vh;
    border: 3px solid navy;
    border-radius: 2vh;
    padding: 1vh;
    
}

#trainSelect{
    font-size: 5vh;
}

.transportOptions select{
    /* display: flexbox;
    flex-direction: row; */
    border-radius: 2vh;
    margin: 1vh;
    width: 45vh;
    height: 15vh;
}

#stationSelect{
    font-size: 5vh;
}

#next, #back{
  height: 15vh;
  width: 25vh;
  font-size: 3vh;
  border-radius: 2vh;
  background-color: navy;
  color: white;
  margin: 1vh;
  
  /* margin-bottom: 30vh; */
}

#subTitle{
  display: block;
  /* border: 5px solid navy; */
  padding: 1vh;
  border-radius: 2vh;
  font-size: 5vh;
  margin-top: 0;
}
header p{
    margin-bottom: 2vh;
}