.welcome header{
    display: flexbox;
    flex-direction: row;
}
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1vh;
    padding: 1vw;
}
.Title{
  /* border: 1px solid black; */
  padding: 1vw;
  margin-left: 1vw;
  border-radius: 2vh;
  width: 92vw;
  height: 85vh;
  /* margin-top: 15vh; */
  /* margin-bottom: 5vh; */
  display: flex;
  gap: 4vw;
  align-items: center;
  flex-direction: row;
  background-color: rgb(219, 186, 186);
  box-shadow: 0 4vh 6vw rgba(15, 2, 2, 0.1);
}

.Title p{
    /* border: 1px solid black; */
    margin: 2vh;
    padding: auto;
    font-family: 'Playfair';
    font-optical-sizing: auto;
    font-weight: 500; /*200 to 700*/ 
    font-style: normal;
    color: rgb(6, 6, 95);
    text-align: center;
    font-size: 4vw;
}

.Title img{
    margin: 2%;
    border-radius: 2vh;
    border: 1vh solid white;
    
}
#subtitle{
    font-family: 'Lato';
    font-weight: 400;
    color: rgba(3, 3, 116, 0.829);
    font-size: 1.5vw;
}

.action p{
    font-family: 'Urbanist';
    margin: 3vh;
    padding: auto;
    font-size: 2vw;
    font-weight: 350;
    
}

.menu{
    top: 0;
    left: 0;
    position: fixed;
    margin: 1vh;
    padding: 0;
}

.menu{
    width: 30vw;
    height: 15vh;
    
}
.menu ul{
   border-radius: 10px;
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
   background-color: brown;
}

.menu ul li{
    font-weight: 100;
    font-size: 2vw;
    font-family: 'Times New Roman', Times, serif;
    display: block;
    color: white;
    text-align: center;
    padding: 2vh 5vh;
    float: left;
}

.menu ul li:hover{
    background-color: rgb(182, 94, 94);
}

.action button{
    margin: auto;
    padding: auto;
    font-size: 3vh;
    border-radius: 2vh;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(182, 94, 94);
    color: rgb(246, 246, 247);
    border-color: aliceblue;
    width: 10vw;
    height: 7vh;
    /* margin-top: 1vh; */
    margin-bottom: 2vh;
}

.action button:hover{
    background-color: rgb(141, 39, 39);
}

.about{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2vh;
  width: 93.4vw;
  height: 40vh;
  margin-top: 15vh;
  margin-bottom: 5vh;
  margin-left: 1.3vw;
  display: flex;
  gap: 76vh;
  align-items: center;
  background-image: url("https://i.pinimg.com/736x/04/5f/c7/045fc79c627cb33b7ebcdd0862a22edf.jpg");
  background-repeat: no-repeat;
  background-size: cover;

}

.about div p{
    margin-left: 3vh;
    font-size: 2vw;
    font-family: 'Urbanist';
    font-weight: 500;
    color: navy;
}

.review{
    display: flex;
    align-self: center;
    width: 40vw;
    overflow: hidden;
    border-radius: 10px;
}

.slides{
    display: flex;
    animation: slide 12s infinite;
}

.slides img{
    width: 15vw;
    height: 45vh;
    object-fit: cover;
    margin-bottom: 5vh;
    margin-right: 20px;
    border-radius: 2vh;
}

@keyframes slide {
    0%, 25% {transform: translateX(0);}
    33%, 58% {transform: translateX(-600px);}
    66%, 91% {transform: translateX(-1200px);}
    100% {transform: translateX(0);}
}

footer{
    background-color: #111;
    color: #eee;
    padding: 0.41vw;
    font-family: 'Lota', sans-serif;
    font-size: 1.2vw;
}

.footer-content{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 100vw;
    margin: auto;
}

.footer-section{
    flex: 1;
    min-width: 92vw;
    margin: 10px;
}

.footer-section h3{
    margin-bottom: 15px;
}

.footer-section ul{
    list-style: none;
    padding: 0;
}

.footer-section ul li a{
    text-decoration: none;
    color: #ccc;
    transition: color 0.3s;
}

.footer-section ul li a:hover{
    color: white;
}

.footer-bottom{
    text-align: center;
    margin-top: 30px;
    border-top: 0.5vh solid #333;
    padding-top: 1vh;
    font-size: 1vw;
}
footer{
    position: relative;
    bottom: 0;
    width: 100%;
}

@media(max-width: 768px) {
    .footer-content {
        flex-direction: column;
        text-align: center;
    }
}